<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
</head>
<body>
<div>
   
</div>

  <h1>Que compramos hoy?</h1>
    <ul>
  {{#each payload}}
    <li>
        
      <h2>Nombre producto: {{product_title}}</h2>
      <p>{{product_thumbnail}}</p>
      <p>Precio: {{product_price}}</p>
      <p>{{product_description}}</p>
      
      <button class="add-to-cart-button" data-product-id={{_id}}>Agregar al carrito</button>
    </li>
  {{/each}}
</ul>
<a href="/api/sessions/logout"><button>Cerrar sesión</button></a>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>